H1{
color: red;
border-bottom: 5px dotted red;


}
body {
  background-color: lightblue;
  font-family: Times New Roman, Georgia , serif;
  font-weight: bolder;
  font-size:1em;
}
H2{
  color: Yellow;

}
ul{
color: green;
}
#links{
  border: 1px solid black;
  margin-top: -10px;

}
